* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

body {
  min-width: 1080px; }

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px; }

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.header__img {
  width: 40%;
  min-height: 800px;
  background: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__img img {
    width: 70%;
    border-radius: 100%; }

.header__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 60px; }
  .header__info .header__name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 330px;
    margin-bottom: 150px; }
    .header__info .header__name p {
      font-size: 40px;
      text-transform: uppercase; }
    .header__info .header__name .header__name--color {
      font-size: 50px;
      color: #36b0df; }
    .header__info .header__name h1 {
      color: #949494;
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      margin-top: 30px; }
  .header__info .header__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 600px;
    border-top: 1px solid #949494; }
    .header__info .header__contact .header__contact--item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 30px; }
      .header__info .header__contact .header__contact--item .header__contact--item--top {
        color: #727272;
        margin-bottom: 20px; }
      .header__info .header__contact .header__contact--item .header__contact--item--bottom {
        color: #949494;
        font-weight: 300; }
        .header__info .header__contact .header__contact--item .header__contact--item--bottom a {
          text-decoration: none;
          color: #949494; }
          .header__info .header__contact .header__contact--item .header__contact--item--bottom a:hover {
            color: #36b0df; }

.about, .skills, .footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
  .about .about__left, .skills .about__left, .footer .about__left, .skills .skills__left, .footer .footer__left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    min-width: 39%;
    min-height: 150px;
    background: #F8F8F8;
    padding-top: 30px; }
    .about .about__left h2, .skills .about__left h2, .footer .about__left h2, .skills .skills__left h2, .footer .footer__left h2 {
      color: #727272;
      font-size: 21px;
      font-weight: 400;
      text-transform: uppercase;
      margin-right: 30px;
      margin-bottom: 5px; }
    .about .about__left p, .skills .about__left p, .footer .about__left p, .skills .skills__left p, .footer .footer__left p {
      color: #949494;
      font-weight: 300;
      margin-right: 30px; }
  .about .about__right, .skills .about__right, .footer .about__right, .footer .footer__right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #FBFBFB;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px; }
    .about .about__right p, .skills .about__right p, .footer .about__right p, .footer .footer__right p {
      color: #949494;
      font-weight: 300;
      width: 100%;
      line-height: 1.5; }

.skills .skills__left {
  background: #FBFBFB;
  margin-right: 100px;
  min-height: 850px; }

.skills__right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .skills__right .skills__right--item {
    width: 45%;
    margin-top: 30px;
    font-weight: 300;
    line-height: 1.5; }
    .skills__right .skills__right--item h3 {
      color: #727272;
      font-weight: 400; }
    .skills__right .skills__right--item span {
      display: block;
      width: 20px;
      height: 20px;
      background: #36b0df;
      border-radius: 50%;
      position: relative;
      left: -40px;
      top: -24px; }

.footer .footer__left {
  padding-bottom: 29px;
  min-height: 45px; }

/*# sourceMappingURL=style.css.map */
