$titleColor: #727272;
$subColor: #949494;
$addColor: #36b0df;

$bcgMain: #FBFBFB;

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  min-width: 1080px;
}

.container{
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
}

//header

.header{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header__img{
  width: 40%;
  min-height: 800px;
  background: $bcgMain;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    width: 70%;
    border-radius: 100%;
  }
}

.header__info{
  display: flex;
  justify-content: flex-start;
  //align-items: center;
  flex-direction: column;
  margin-left: 60px;

  .header__name{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 330px;
    margin-bottom: 150px;

    p{
      font-size: 40px;
      text-transform: uppercase;
    }

    .header__name--color{
      font-size: 50px;
      color: $addColor;
    }

    h1{
      color: $subColor;
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      margin-top: 30px;
    }
  }

  .header__contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 600px;
    border-top: 1px solid $subColor;

    .header__contact--item{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 30px;

      .header__contact--item--top{
        color: $titleColor;
        margin-bottom: 20px;
      }

      .header__contact--item--bottom{
        color: $subColor;
        font-weight: 300;

        a{
          text-decoration: none;
          color: $subColor;
          &:hover{
            color: $addColor;
          }
        }
      }
    }
  }
}

//about me

.about{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .about__left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    min-width: 39%;
    min-height: 150px;
    background: #F8F8F8;
    padding-top: 30px;

    h2{
      color: $titleColor;
      font-size: 21px;
      font-weight: 400;
      text-transform: uppercase;
      margin-right: 30px;
      margin-bottom: 5px;
    }

    p{
      color: $subColor;
      font-weight: 300;
      margin-right: 30px;
    }
  }

  .about__right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $bcgMain;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;

    p{
      color: $subColor;
      font-weight: 300;
      width: 100%;
      line-height: 1.5;
    }
  }
}

//skills

.skills {
  @extend .about;

  .skills__left {
    @extend .about__left;
    background: $bcgMain;
    margin-right: 100px;
    min-height: 850px;
  }
}

.skills__right{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .skills__right--item{
    width: 45%;
    margin-top: 30px;
    font-weight: 300;
    line-height: 1.5;
    h3{
      color: $titleColor;
      font-weight: 400;
    }
    span{
      display: block;
      width: 20px;
      height: 20px;
      background: $addColor;
      border-radius: 50%;
      position: relative;
      left: -40px;
      top: -24px;
    }
  }
}

//footer

.footer{
  @extend .about;

  .footer__left{
    @extend .about__left;
    padding-bottom: 29px;
    min-height: 45px;
  }

  .footer__right{
    @extend .about__right;
  }
}